name: Management System BE - Build

on:
  pull_request:
    branches: [ "master", "pre-master", "develop" ]

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up JDK 21
      uses: actions/setup-java@v4
      with:
        java-version: '21'
        distribution: 'corretto'
        cache: 'maven'

    - name: Build with Maven
      run: mvn clean install